

<div class="form-edit" id="myForm">
  <form action="/edit/pos/<%=@pos.id%>" method="post" class="form-container">
	<h3>POS Edit Form</h3>

	<label for="adresse"><b>Adress : </b></label>
    <input type="text" placeholder="Enter the adresse of the POS" name="adress" value="<%=@pos.adress%>" required>

	<label for="tel"><b>Telephone : </b></label>
    <input type="text" placeholder="Enter the telephone of the POS" name="telephone" value="<%=@pos.telephone%>" required>
    
    <button type="submit" class="btn">Register</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>