<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Sinatra Project</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>

    		<nav class="navbar navbar-inverse fixed-nav">
			<div class="container-fluid">
				<div class="navbar-header">
				<a class="navbar-brand" href="/profile">Bòlèt Pam</a>
				</div>
				<ul class="nav navbar-nav">
				<li class="active"><a href="">Dashboard</a></li>
        <% if @lottery %>
				  <li><a href="/pos/<%= @lottery.id%>">POS</a></li>
        <% end %>
				<li><a href="#">Lottery Draws</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> <%= @user.email%></a></li>
				</ul>
			</div>
		</nav>

    <div class="wrapper">

        <%= yield %>

    </div>

    <script src="/javascripts/validation.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->

  </body>
  <div class="footer">
        <small>&copy; 2019 <strong>Softmatech Sinatra Project</strong></small>
      </div>
</html>
