<!DOCTYPE html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Sinatra Project</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/assets/jquery/jquery-3.1.0.min.js"></script>
		<script src="/assets/tether/tether.min.js"></script>
		<script src="/assets/bootstrap/bootstrap4-alpha3.min.js"></script>
		<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
		<script src="/assets/jquery.scrollspeed/jquery.scrollspeed.min.js"></script>
		<script src="/assets/jquery.inview/jquery.inview.min.js"></script>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/assets/bootstrap/bootstrap_renewed.css">
		<!-- Google Font Roboto -->
		<link rel="stylesheet" href="/assets/fonts/font-roboto.css">
  </head>
  </head>
  <body>

    		<nav class="navbar navbar-inverse fixed-nav">
			<div class="container-fluid">
				<div class="navbar-header">
				<a class="navbar-brand" href="/profile">Bòlèt Pam</a>
				</div>
				<ul class="nav navbar-nav">
				<li class="active"><a href="/">Dashboard</a></li>
        <% if @lottery %>
				  <li><a href="/pos/<%= @lottery.id%>">POS</a></li>
        <% end %>
				<li><a href="#">Lottery Draws</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> <%= Helpers.current_user(session).email%></a></li>
				</ul>
			</div>
		</nav>

    <div class="wrapper">

        <%= yield %>

    </div>

    <script src="/javascripts/validation.js"></script>
    
  </body>
  <div class="footer">
        <small>&copy; 2019 <strong>Softmatech Sinatra Project</strong></small>
      </div>
</html>
