<div class="login_container">
    <form style="border:1px solid #ccc">
        <div class="container">
        <h1>Welcome to the Sinatra Project</h1>
        <hr>
            <h3>Log In Form</h3>
            <hr>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

        <div class="clearfix">
            <button type="submit" class="signupbtn">Sign Up </button>
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn" >Cancel</button>
        </div>
        </div>
    </form>  
    </div>  

