<div class="login_container">
    <form method="POST" action="/login" style="border:1px solid #ccc">
        <div class="container">
        <h1>Welcome to the Sinatra Project</h1>
        <hr>
            <h3>Log In Form</h3>
            <hr>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required>

            <% if flash.has?(:message) %>
                <script>alert("<%= flash[:message] %>")</script>
            <% end %>

        <div class="clearfix">
            <button type="submit" class="loginbtn">log In</button>
            <a href="/" ><button type="button" class="cancelbtn" >Cancel</button></a>
        </div>
        </div>
    </form>  
    </div>  

