<div class="form_container">
    <form style="border:1px solid #ccc">
        <div class="container">
        <h1>Welcome to the Sinatra Project</h1>
        <hr>
            <h3>Sign Up/Log In Form</h3>
            <hr>

        <div class="clearfix">
            <a href="/login" ><button type="button" class="loginbtn" >Log In</button></a>
            <a href="/signup" ><button type="button" class="signupbtn" >Sign Up</button></a>
        </div>
        </div>
    </form>  
    </div>  

